body {
	font-family: Bitstream Vera Sans,Arial,Helvetica;	
}

.logo {
margin-left: 5%; 
margin-right: 5%; 
text-align: center;
}

.main {
margin-left: 10%; 
margin-right: 10%; 

}

blockquote {
	margin-left: 0px;
}

h3 {
	padding-left: 1%;
}