body {
	overflow-x: hidden;
	text-align: justify;
}
.navbar{
	border-radius: 0px!important;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}
.double-height{
	line-height: 130%!important;
}
.show-on-med{
		display: none;
}
h1{
	text-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width:768px){
	.container-main{
		margin-top: 100px!important;
	}
	.lead, .breadcrumb, h1{
		margin-left: 15px!important;
	}
	.breadcrumb{
		width: 90%;
	}
	.hide-on-med{
		display: none!important;
	}
	.show-on-med{
		display: block!important;
	}
}
.panel-default{
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.2)
}
.nav-fall > a {
	color: white;
}
.nav-fall {
	margin-top: 20px!important;
}

img{
	padding: 15px;
	/*border: 5px solid #FFCC00;*/
	/*box-shadow : 0 2px 4px rgba(0, 0, 0, 0.3)*/
}