.version.processing /* version checker */
{
	color: #0000F7;
	background-color: #894C01;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 952px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 32px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
}

#u75
{
	z-index: 2;
	width: 217px;
	margin-right: -10000px;
}

#u88
{
	z-index: 4;
	width: 49px;
	margin-right: -10000px;
	left: 231px;
}

#u94-4
{
	z-index: 6;
	width: 142px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 293px;
}

#menuu137
{
	z-index: 10;
	width: 593px;
	margin-top: 14px;
}

#u145
{
	width: 146px;
	min-height: 45px;
	margin-right: -10000px;
}

#u148
{
	width: 146px;
	padding-bottom: 23px;
}

#u148:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u148:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u148.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 146px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u148:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u148.MuseMenuActive #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 147px;
	min-height: 45px;
	margin-right: -10000px;
	left: 148px;
}

#u154
{
	width: 147px;
	padding-bottom: 23px;
}

#u154:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u154:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u156-4
{
	width: 147px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u154:hover #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u154:active #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u160
{
	width: 147px;
	min-height: 45px;
	margin-right: -10000px;
	left: 297px;
}

#u163
{
	width: 147px;
	padding-bottom: 23px;
}

#u154.MuseMenuActive,#u163:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u163:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 147px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u154.MuseMenuActive #u156-4,#u163:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u167
{
	width: 147px;
	min-height: 45px;
	margin-right: -10000px;
	left: 446px;
}

#u170
{
	width: 147px;
	padding-bottom: 23px;
}

#u163.MuseMenuActive,#u170:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u170:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u170.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 147px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u163.MuseMenuActive #u165-4,#u170:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u170.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u9578-4
{
	z-index: 49;
	width: 161px;
	min-height: 29px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: cardo, serif;
	font-weight: 700;
	margin-top: 37px;
	position: relative;
}

#u9577-14
{
	z-index: 35;
	width: 810px;
	min-height: 22px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: cardo, serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u9693
{
	z-index: 222;
	width: 810px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u9653-4
{
	z-index: 212;
	width: 808px;
	min-height: 22px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: cardo, serif;
	font-weight: 400;
	margin-top: 71px;
	position: relative;
}

#slideshowu9580
{
	z-index: 53;
	width: 0.01px;
	height: 968px;
	margin-top: 20px;
	position: relative;
}

#u9616
{
	position: absolute;
	width: 946px;
	height: 526px;
	background-color: transparent;
	top: 372px;
	left: 1px;
}

#u9616popup
{
	z-index: 54;
}

#u9864
{
	z-index: 55;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9882
{
	z-index: 57;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9900
{
	z-index: 59;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9918
{
	z-index: 61;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9936
{
	z-index: 63;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9954
{
	z-index: 65;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9981
{
	z-index: 67;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10008
{
	z-index: 69;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10017
{
	z-index: 71;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10026
{
	z-index: 73;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10044
{
	z-index: 75;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10062
{
	z-index: 77;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10071
{
	z-index: 79;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10089
{
	z-index: 81;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10098
{
	z-index: 83;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10107
{
	z-index: 85;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10134
{
	z-index: 87;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10143
{
	z-index: 89;
	width: 946px;
	height: 526px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9864_clip,#u9882_clip,#u9900_clip,#u9918_clip,#u9936_clip,#u9954_clip,#u9981_clip,#u10008_clip,#u10017_clip,#u10026_clip,#u10044_clip,#u10062_clip,#u10071_clip,#u10089_clip,#u10098_clip,#u10107_clip,#u10134_clip,#u10143_clip
{
	overflow: hidden;
	width: 946px;
	height: 526px;
}

#u9864_img,#u9882_img,#u9900_img,#u9918_img,#u9936_img,#u9954_img,#u9981_img,#u10008_img,#u10017_img,#u10026_img,#u10044_img,#u10062_img,#u10071_img,#u10089_img,#u10098_img,#u10107_img,#u10134_img,#u10143_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u9597
{
	position: absolute;
	width: 763px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
}

#u9597popup
{
	z-index: 91;
}

#u9867
{
	z-index: 92;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u9885
{
	z-index: 94;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u9903
{
	z-index: 96;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u9921
{
	z-index: 98;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 386px;
}

#u9939
{
	z-index: 100;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 514px;
}

#u9957
{
	z-index: 102;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u9867.SSSlideLinkSelected,#u9885.SSSlideLinkSelected,#u9903.SSSlideLinkSelected,#u9921.SSSlideLinkSelected,#u9939.SSSlideLinkSelected,#u9957.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 118px;
	height: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9984
{
	z-index: 104;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 2px;
}

#u10011
{
	z-index: 106;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 130px;
}

#u10020
{
	z-index: 108;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 258px;
}

#u10029
{
	z-index: 110;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 386px;
}

#u10047
{
	z-index: 112;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 514px;
}

#u10065
{
	z-index: 114;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 642px;
}

#u9984.SSSlideLinkSelected,#u10011.SSSlideLinkSelected,#u10020.SSSlideLinkSelected,#u10029.SSSlideLinkSelected,#u10047.SSSlideLinkSelected,#u10065.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 118px;
	height: 109px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u10074
{
	z-index: 116;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 2px;
}

#u10092
{
	z-index: 118;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 130px;
}

#u10101
{
	z-index: 120;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 258px;
}

#u10110
{
	z-index: 122;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 386px;
}

#u10137
{
	z-index: 124;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 514px;
}

#u10146
{
	z-index: 126;
	width: 118px;
	height: 109px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 642px;
}

#u10074.SSSlideLinkSelected,#u10092.SSSlideLinkSelected,#u10101.SSSlideLinkSelected,#u10110.SSSlideLinkSelected,#u10137.SSSlideLinkSelected,#u10146.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 118px;
	height: 109px;
	min-height: 0px;
	margin: 238px -10000px 0px 0px;
}

#u9587
{
	position: absolute;
	width: 788px;
	background-color: transparent;
	top: 900px;
	left: 1px;
}

#u9587popup
{
	z-index: 128;
}

#u9870-4
{
	z-index: 129;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9888-4
{
	z-index: 133;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9906-4
{
	z-index: 137;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9924-4
{
	z-index: 141;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9942-4
{
	z-index: 145;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9960-4
{
	z-index: 149;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9987-4
{
	z-index: 153;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10014-4
{
	z-index: 157;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10023-4
{
	z-index: 161;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10032-3
{
	z-index: 165;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10050-4
{
	z-index: 168;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10068-4
{
	z-index: 172;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10077-4
{
	z-index: 176;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10095-4
{
	z-index: 180;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10104-4
{
	z-index: 184;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10113-4
{
	z-index: 188;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10140-4
{
	z-index: 192;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u10149-4
{
	z-index: 196;
	width: 768px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9583-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 900px;
	left: 848px;
}

#u9583-4popup
{
	z-index: 200;
}

#u9582-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 900px;
	left: 817px;
}

#u9582-4popup
{
	z-index: 204;
}

#u9583,#u9582
{
	color: #999999;
}

#u9586-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 900px;
	left: 917px;
}

#u9586-4popup
{
	z-index: 208;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10158-6
{
	z-index: 216;
	width: 808px;
	min-height: 22px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: cardo, serif;
	font-weight: 400;
	margin-top: 69px;
	position: relative;
}

#u10156
{
	z-index: 224;
	width: 640px;
	min-height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

body
{
	position: relative;
	min-width: 952px;
}

#page .verticalspacer
{
	clear: both;
}

